img {
    max-width: 100%;
}


/*header*/
header {
    background: #3d4374;
    color: #828ac9;
    padding: 20px 0;
}

header .avatar {
    width: 50px;
    height: 50px;
    float: left;
}

header .avatar img {
    border: 1px solid #323868;
    border-radius: 50%;
}

header .ent {
    margin-left: 10px;
    float: left;
}

header .ent h3 {
    font-size: 16px;
}

header .ent i {
    color: #6fac58;
}

header .ent span {
    font-size: 12px;
    background: #323868;
    padding: 5px;
    border-radius: 4px;
}

header .logo img {
    width: 180px;
    margin: 0 auto;
}

.coin {
    text-align: center;
    float: right;
    width: 159px;
    font-size: 21px;
    background: #323868;
    padding: 4px 0;
    border-radius: 15px;
    color: #9d6727;
}

header .login {
    text-align: center;
    float: right;
    width: 259px;
    font-size: 21px;
    background: #323868;
    padding: 4px 0;
    border-radius: 15px;
    color: #9d6727;
}

header .login i {
    color: #0074b9;
}

header .login a {
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    color: #9d6727;
}

.coin .ent {
    padding: 8px 0;
}

/*nav*/

.navbar-kar {
    background: #b669b3 !important;
    color: #e0c4e1;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.navbar-kar a {

    color: #e0c4e1;
}

.navbar .active {
    border-radius: 10px;
    background: #964f9d;
}

#dashboard {
    background: url("../images/background2.jpg") no-repeat;
    background-size: cover;
    padding: 40px 0;
    position: relative;
}

h3.title-sec {
    color: #3d4374;
    border-bottom: 1px solid #797ea5;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 21px;
}

.upcoming {
    margin-bottom: 20px;
}

.upcoming .box {
    background: #d1c7d8;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.upcoming .box h3 {
    font-size: 16px;
    color: #3d4374;
}

.upcoming .box p {
    color: #b669b3;
    font-size: 14px;
}

.feed .box {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    content: ' ';
    min-height: 400px;
}

@media screen and (max-width: 768px) {
    header .col-md-4 {
        text-align: center !important;
        margin-bottom: 10px;
    }

    header .ent {
        display: block;
        text-align: center;
        margin: 0 auto;
        float: none;
    }

    header .col-md-4 .coin {
        float: none;
        margin: 0 auto;
    }
}

.setting {
    position: fixed;
    top: 180px;
    left: 0;
    background: #d6c8d8;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.setting ul {
    margin: 0;
    padding: 0;
}

.setting ul li {
    list-style: none;
    padding: 10px 20px;
}

.setting ul li a {
    color: #964f9d;
}

/*what*/
#what {
    background: #d7c9d8;
    padding: 60px 0;
}

#what p {
    margin-bottom: 20px;
}

#what .btnn a {
    padding: 13px 16px;
    background: #323868;
    color: white;
    text-decoration: none;
}

#what .image {
    text-align: center;
    padding-top: 20px;
    font-size: 101px;
}

/*bank*/
.box-bank {
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 10px;
}

.box-bank img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.btn-adt {
    padding: 10px 0;
}

.btn-adt a:hover {
    color: white;
}

.btn-adt a {
    font-size: 21px;
    padding: 14px 26px;
    background: #0074b9;
    color: white;
}

.modal-bank .image {
    text-align: center;
    margin-bottom: 10px;
}

.modal-bank .image img {
    width: 80px;
}

.box-bank h4 {
    margin-bottom: 30px !important;
    text-align: center !important;
}

.modal-bank .modal-body {
    border-top: 1px solid #b669b3;
    padding: 30px 0;
}

.modal-bank .modal-content {
    padding: 20px;
    background: rgba(255, 255, 255, 0.8) !important;
}

.footer-mod button {
    padding: 10px 21px;
}

/*performances*/
.side {
    padding: 20px;
    background: rgba(255, 255, 255, 0.5) !important;
    width: 100%;
    height: 100%;
}

.performances .p-2 {
    min-height: 560px;
}

.box-side {
    margin-bottom: 20px;
}

.box-side ul {
    margin: 0;
    padding: 0;
}

.box-side ul li p {
    margin-bottom: 2px;
}

.box-side ul li a {
    color: #333333;
    text-decoration: none;
}

.box-side ul li {
    list-style: none;
    margin-left: 0;
    padding: 0;
    border-bottom: 1px solid #777777;
    margin-bottom: 7px;
}

.performances .main {
    padding: 20px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5) !important;
}

.box-main {
    margin-bottom: 20px;
}

.box-main .ent-box {
    background: white;
    border-radius: 4px;
    padding: 10px;
    position: relative;
}

.box-main .ent-box .avatar {
    width: 80px;
    height: 80px;
    background: #e7e7e7;
    float: left;
    margin-right: 8px;
}

.box-main .soc i {
    font-size: 24px;
}

.box-main .soc {
    position: absolute;
    right: 10px;
    top: 20px;
}

.soc .spot {
    color: green;
}

/*events*/
.create-box {
    background: rgba(255, 255, 255, 0.5) !important;
    border-radius: 10px;
    padding: 20px;

}

.create-box .image img {
    width: 150px;
    margin: 0 auto;
}

.create-box .image {
    text-align: center;
}

.btn-ev a {
    background: #0074b9;
    padding: 10px;
    padding-right: 0;
    color: white;
    text-decoration: none;
}

.btn-ev a img {
    width: 35px;
}

.btn-ev a span {
    background: orange;
    padding: 10px;
}


/*cr e*/
.box-side {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.5) !important;
}

.cr-ev .side {
    background: none !important;
}

.cr-ev .box-main .avatar {
    width: 50px;
    height: 50px;
}

.cr-ev .box-main p {
    font-size: 11px;
    margin-bottom: 7px;
}

.cr-ev .box-main .soc {
    position: absolute;
    right: 3px;
    top: 11px;
}

.side-cr {
    width: 100%;
    height: 100%;
}

.cr-ev .main li, .cr-ev .side-cr li {
    border-bottom: 0 !important;
}